---
import LeftSection from "../components/LeftSection.astro";
import RightSection from "../components/RightSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="min-h-screen flex flex-col lg:flex-row">
    <LeftSection />
    <RightSection />
  </main>
</Layout>
