---
import Github from "./icons/Github.astro";
---

<section
  class="w-full lg:w-1/2 bg-[#0a0f1c] text-white p-8 lg:p-16 flex flex-col justify-between min-h-96"
>
  <div>
    <div>
      <h1 class="text-4xl lg:text-5xl font-bold text-yellow-400">Factos</h1>
      <h1 class="text-4xl lg:text-5xl font-bold mb-5">
        Un dato curioso cada día
      </h1>
      <p class="text-gray-400 mb-5">
        Descubre algo sorprendente cada día.<br /> Un dato curioso diario para ampliar
        tus conocimientos y despertar tu curiosidad. Historia, ciencia y más: siempre
        hay algo interesante por aprender. ¡Haz tu día más fascinante!
      </p>
    </div>
  </div>

  <div>
    <div class="text-sm text-gray-400">
      <a
        href="https://github.com/javiermartins"
        target="_blank"
        class="hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 opacity-70 hover:opacity-100"
        aria-label="Github javiermartins"
      >
        <Github />
      </a>
    </div>
  </div>
</section>
