<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Factos | Un dato curioso cada día</title>
    <meta property="og:site_name" content="Factos" />
    <meta property="og:title" content="Factos" />
    <meta property="og:url" content="https://factos.pages.dev" />
    <meta property="og:type" content="website" />
    <meta
      name="description"
      content="Descubre un dato curioso cada día en Factos. Amplía tus conocimientos con curiosidades de historia, ciencia y más. ¡Sorpréndete y haz tu día más fascinante! Aprende algo nuevo hoy mismo."
    />
    <meta
      name="google-site-verification"
      content="CeimdoaUWP-dg_25qLvJVm6kvx500viP_D1s6Plwp5Q"
    />
    <meta
      name="google-site-verification"
      content="Fboap3RA4Y7I-nBplKM-WXgCNu7xb4p5ZB65kGBhM0k"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
