<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://factodeldia.com" />
    <title>Factos | Un dato curioso cada día</title>
    <meta property="og:site_name" content="Facto del Día" />
    <meta property="og:title" content="Facto del Día - Dato Curioso Diario" />
    <meta property="og:url" content="https://factodeldia.com" />
    <meta property="og:type" content="website" />
    <meta
      name="description"
      content="Descubre el Facto del Día en Factos: un dato curioso diario sobre historia, ciencia, cultura y más. Sorpréndete, aprende y haz cada día más interesante con conocimiento único."
    />
    <meta
      name="google-site-verification"
      content="Fboap3RA4Y7I-nBplKM-WXgCNu7xb4p5ZB65kGBhM0k"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
